{{> head}}


    {{> navbar }}

<div class="row">
    <div class="col-8">
<h1>
    Gears 5 es un videojuego de acción en tercera persona desarrollado por The Coalition y publicado por Xbox Game Studios para Microsoft Windows y Xbox One. Es la sexta entrega de la saga Gears of War y la secuela directa de Gears of War 4. Fue lanzado el 10 de septiembre de 2019.
</h1>
    </div>
    <div class="col-4">
 
    <img src="assets/img/gears.png" class="img-thumbnail"/>    

    </div>
</div>>

{{> footer}}